@mixin flex-item-center() {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.home-title-wrapper{
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 10px 0px;
    .home-title-container{
        @include flex-item-center();
        justify-content: space-between;
        .exam-title{
            font-weight: bold;
        }
        .time-wrapper{
            @include flex-item-center();
            .time-title{
                color: #64666a;
                font-size: 13px;
                display: flex;
                align-items: center;
                i{
                    font-weight: bold;
                    font-size: 20px;
                    display: flex;
                    margin-right: 5px;
                }
            }
            .timer{
                color: #fb754b;
                font-weight: bold;
                font-size: 26px;
                margin-left: 10px;
            }
        }
    }
}
