@mixin round-icon(){
    font-size: 13px;
    padding: 8px;
    border-radius: 100%;
    background-color: #0f071b;
}
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    &.header-bg{
        background-color: #343b44;
    }
    .navbar-brand{
        font-size: 16px;
        font-weight: bold;
    }
    .user-info{
        margin-top: 2px;
        margin-bottom: 0px;
        font-size: 14px;
        .user-icon{
            @include round-icon;
            margin-left: 6px;
        }
    }
    .logout-icon{
        @include round-icon;
        margin-left: 8px;
    }
}