.mx-minus-10{
    margin-left: -10px;
    margin-right: -10px;
}
.qustn-container{
    width: 100%;
    float: left;
    min-height: 100%;
    background-color: #fff;
    .qustn-title-container{
        display: flex;
        justify-content: space-between;
        color: #64666a;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 5px;
        font-size: 16px;
        .q-np-container{
            display: flex;
            align-items: center;
            .q-next-btn, .q-prev-btn{
                display: flex;
                font-size: 15px;
                cursor: pointer;
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                align-items: center;
                i{
                    svg{
                        fill: #63666a;
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .q-prev-btn{
                i{
                    margin-right: 4px;
                }
            }
            .q-next-btn{
                i{
                    margin-left: 4px;
                }
            }
            span{
                padding: 0px 10px;
                font-size: 15px;
                color: #c7c7c7;
            }
        }
    }
    .qustn-view-container{
        width: 100%;
        float: left;
        .qustn-view{
            width: 100%;
            float: left;
            margin: 20px 0px;
            color: #525151;
            font-weight: 700;
        }
    }

    .qustn-obj-container{
        width: 100%;
        float: left;
        &>p{
            margin-bottom: 10px;
            font-size: 14px;
        }
        .qustn-obj-view{
            width: 100%;
            float: left;
            .choice-col-main{
                padding: 0px 10px;
                .choice-column{
                    width: 100%;
                    float: left;
                    background-color: #e8e8e8;
                    padding: 0px 5px;
                    height: 100%;
                    .choice-column-inner{
                        width: 100%;
                        float: left;
                        padding: 10px;
                        border-radius: 15px;
                        margin: 0;
                        height: 100%;
                        cursor: pointer;
                        &:hover{
                            background-color: #fff;
                        }
                        input[type='radio']{display: none;}
                        .objective-ans-view{
                            display: flex;
                            align-items: center;
                            color: #46484d;
                            span{
                                margin-right: 10px;
                                i{
                                    width: 40px;
                                    height: 40px;
                                    float: left;
                                    border-radius: 100%;
                                    border: 1px solid #46484d;
                                    text-align: center;
                                    line-height: 40px;
                                    font-weight: bold;
                                    font-size: 16px;
                                    font-style: normal;
                                }
                            }
                            b{
                                font-weight: 500;
                                font-size: 15px;
                            }
                        }
                        input[type='radio']:checked+.objective-ans-view>span>i{
                            background-color: #fa6b52;
                            color: #fff;
                        }
                    }
                }
              
            }
            .choice-row{
                &:nth-of-type(1){
                    .choice-col-main{
                        @media (min-width: 768px){
                            &:nth-of-type(1) .choice-column{
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                padding-top: 10px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                            &:nth-of-type(2) .choice-column{
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                padding-top: 10px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                        }
                        @media (max-width: 768px){
                            &:first-of-type .choice-column{
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                padding-top: 10px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                            &:last-of-type .choice-column{
                                border-radius: 0px !important;
                                padding-top: 0px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(2){
                    .choice-col-main{
                        @media (min-width: 768px){
                            &:nth-of-type(1) .choice-column{
                                border-bottom-left-radius: 15px;
                                border-bottom-right-radius: 15px;
                                padding-bottom: 10px;
                            }
                            &:nth-of-type(2) .choice-column{
                                border-bottom-left-radius: 15px;
                                border-bottom-right-radius: 15px;
                                padding-bottom: 10px;
                            }
                        }
                        @media (max-width: 768px){
                            &:first-of-type .choice-column{
                                border-radius: 0px !important;
                                padding-bottom: 0px;
                                .choice-column-inner{
                                    border-bottom: 1px solid #ddd;
                                }
                            }
                            &:last-of-type .choice-column{
                                border-bottom-left-radius: 15px;
                                border-bottom-right-radius: 15px;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .qustn-btn-wrapper{
        display: flex;
        justify-content: space-between;
        clear: both;
        padding-top: 30px;
        button{
            padding: 15px 15px;
            font-size: 15px;
            margin-top: 5px;
            margin-right: 4px;
            i{
                font-size: 24px;
                position: absolute;
                top: 50%;
                right: 15px;
                margin-top: -20px;
            }
            &.qstn-next-btn{
                position: relative;
                padding-right: 46px;
                margin-right: 0px;
                margin-left: 4px;
            }
        }
    }
}